.experience {
    margin: 0px;    
    background-color: #1e1d1f;
}

.experienceInnerDiv {
    background-color: #252427;
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;
    padding-bottom: 5rem;
    text-align: center;
}

.timeline {
    width: 100%;
    display: flex;
    justify-content: center;
}

.experienceInnerDiv h1 {
    margin: 0px;
    padding: 2.5rem 0px;
}
