.icon {
    color: #0081B4;
    margin-right: 20px;
    border-bottom: 3px solid transparent;
}

.icon:hover {
    color: #0081B4;
    border-bottom: 3px solid #0081B4;
}

@media screen and (max-width: 980px) {
    .icon {
        margin-right: 3rem;
    }    
}
