.ext {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: fit-content;
    animation-name: slide-in;
    position: relative;
    top: 15px;
    animation-name: ext-animation;
    animation-duration: 1.5s;
}

@keyframes ext-animation {
    from {
        left: 20px;
    }
    to {
        left: 0px;
    }
}