.overviewImgDiv {
    height: 6rem;
    margin: 0px;
}

.logo {
    width: fit-content;
    height: 100%;
    border-radius: 1.5rem;
}

.btn {
    visibility: hidden;
    position: relative;
    right: 50%;
    bottom: 45%;
    font-weight: bold;
}

.overviewImgDiv:hover {
    .btn {
        visibility: visible;
    }
    .logo {
        opacity: 0.4;
    }
}