.overviewImgDiv {
    height: 6rem;
    margin: 0.5rem;
    width: fit-content;
    position: relative;
}

.logo {
    width: fit-content;
    height: 100%;
    border-radius: 1.5rem;
}

.btn {
    visibility: hidden;
    position: absolute !important;
    right: 50%;
    bottom: 45%;
    transform: translate(50%, 45%);
}

.overviewImgDiv:hover {
    .btn {
        visibility: visible;
    }
    .logo {
        opacity: 0.4;
    }
}

@media screen and (max-width: 980px) and (orientation: portrait) {
    .overviewImgDiv {
        width: 35vw;
        height: fit-content;
        margin: 1rem 2rem;
    }

    .logo {
        width: 100%;
        height: auto;
    }

    .btn {
        font-size: 2.2rem !important;
    }
}