.experienceCard {

    text-align: left;
    background-color: #F6F1F1;
    border-radius: 2rem;
    padding: 1rem 1rem;
    color: #4F4A45;
    max-width: 636px;
}
    
h4, h3 {
    margin: 0;
}

.designation {
    color: #0081B4;
}

.experienceCard h5 {
    margin: 0px;
}

.projects {
    margin-top: 1rem;
}

.responsibilities {
    padding-left: 1rem;
}

.responsibility {
    padding-left: 0.5rem;
    list-style-type: none;
    border-left: 3px solid #0081B4;
    margin: 0.5rem 0px;
}

@media screen and (max-width: 980px) and (orientation: portrait) {
    
    .experienceCard {
        width: 90vw;
        max-width: 100%;
        margin: 2rem 0px;
    }

    h3 {
        font-size: 3rem;
    }

    h4 {
        font-size: 2rem;
    }

    .responsibility {
        font-size: 2rem;
        border-left: 6px solid #0081B4;
    }

    .duration {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }
}

@media screen and (max-width: 980px) and (orientation: landscape) {
    .experienceCard {
        width: 90vw;
        max-width: 100%;
        margin: 2rem 0px;
    }
}
