.experienceCard {
    background-color: #F6F1F1;
    border-radius: 2rem;
    padding: 1rem 1rem;
    color: #4F4A45;
}

h4, h3 {
    margin: 0;
}

.designation {
    color: #146C94;
}

.experienceCard h5 {
    margin: 0px;
}

.projects {
    margin-top: 1rem;
}
