.overview {
    width: fit-content;
    margin: 0px;
}

.readMore {
    color: blue;
}

.readMore:hover {
    cursor: pointer;
}

.projectDetail {
    text-align: left;
    background-color: #DDDDDD;
    border-radius: 1rem;
    padding: 0.5rem;
    margin: 0.5rem 0rem;
}

@media screen and (max-width: 980px) and (orientation: portrait) {
    
    .overview {
        font-size: 2rem;
    }

    .projectDetail h5 {
        font-size: 2rem;
    }
}