.innerDivForImage {
    width: 50vw;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image {
    margin: 0px;
    padding: 0px;
    max-height: 70%;
    max-width: 70%;
    position: relative;
    animation-name: image-animation;
    animation-duration: 1s;

}

@keyframes image-animation {
    from {
        top: 40px;
        opacity: 0.5;
    } to {
        top: 0px;
        opacity: 1;
    }
}
